html {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center {
    text-align: center;
}

div.messages {
    margin-top: 30px;
}

ul#photo-list li {
    display: inline-block;
}