html {
    border: 0;
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
}

.center {
    text-align: center;
}

h1#title {
    position: relative;
    top:-85px;
    margin: 0.67em 0 0 0;
}

button#searchButton {
    height: 25px;
}

body{
    background-color: black;
    color: white;
}

ul {
    padding-left: 10px;
}

div.messages {
    margin-top: 30px;
}

div#progress-bar {
    width: 300px;
    height: 30px;
    background-color: #0063DB;
    border: 2px white solid;
    margin: 0 auto;
    animation: shrink 11s;
    border-radius: 5px;
}

@keyframes shrink {
    0% {width:300px;}
    100% {width: 0px;}
}


ul#photo-list li {
    display: inline-block;

    margin: 2px;
}

ul#photo-list li img {
    vertical-align: top;
    border: 2px black solid;
    transition: all cubic-bezier(0, 0, 0, 1.25) 0.5s;
}

.zoom {
    height: 100%;
    width: 100%;
}